.main-general__container{
    width: 100%;
    height: 100vh;
    padding-top: 50px;
}

.main-content__container{
    width: 800px;
    min-width: 350px;
    margin: 0 auto;
}

.search__container{
    display: flex;
    justify-content: center;
}

.subject_select{
    border: #2F4F4E solid 2px;
    color: #2F4F4E;
    border-radius: 5px;
    padding-left: 5px;
    background-color: white;
    font-size: 1.8rem;
    font-weight: 400;
}

.message_input{
    border: #2F4F4E solid 2px;
    width: 300px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 1.9rem;
    margin-right: 5px;
    margin-left: 1px;
}

.submit__button{
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #2F4F4E;

    font-size: 2rem;
    height: 40px;
    padding: 10px 30px;
}

.messages__container{
    margin-top: 40px;
}