.general__container{
    border: #2F4F4E solid 2px;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 25px;
    min-height: 70px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 57px;
    padding-top: 18px;
}

.name__container{
    background-color: #2F4F4E;
    border-radius: 0px 7px 0px 0px;
    padding: 0 10px;
    color: white;
    position: absolute;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    left: -10px;
}

.subject__container{
    border: purple solid 2px;
    border-radius: 5px;
    padding: 0 10px;
    color: white;
    position: absolute;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 5px;
}

.subject__container p{
    color: purple;
}